<footer>
  <div class="footer-contaier">
  <img width="20" height="60" alt="Angular Logo" src="assets/images/logo.svg" />
  <div class="footer-card">
    <p>Links</p>
    <a>Contact us</a>
    <a>About Company</a>
    <a>Careers</a>
    <a>News</a>
  </div>
  <div class="footer-card">
    <p>About</p>
    <a>Instagram</a>
    <a>Linked in</a>
    <a>Facebook</a>
  </div>
  <div class="footer-card">
    <p>Support</p>
    <a>Documentation</a>
    <a>Get help</a>
    <a>Service status</a>
  </div>
  <div class="footer-card">
    <p>About</p>
    <a>Terms of service</a>
    <a>Privacy policy</a>
    <a>Security</a>
    <a>Sitemap</a>
  </div>
</div>
  <p>&copy; 2022 Company Inc. All rights reserved</p>
</footer>
